.slick-slider{
    width: 100%;
}

.slick-slide{
    max-width: 316px; 
    /* height: 600px;
    display: flex; */
}

.contentContainer{
    width: 100%;
}

.ItemBennefits{
    background-color: #EFEFEF;
    border-radius: 5px;
    height: 60px;

    display: flex!important;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
}

.slick-track{
    gap: 1rem;
    display: flex;
}

.titleBenefits{
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
}

.subtitleBenefits{
    margin: 0;
    font-size: 0.75rem;
}